table {
  border-spacing: 0;
  border-collapse: separate;
}

.ColClues {
  vertical-align: bottom;
  text-align: center;
}
.ColClues:nth-child(2n) {
  background-color: lightgray;
}
.RowClues {
  text-align: right;
  white-space: nowrap;
}
.Row:nth-child(2n) .RowClues{
  background-color: lightgray;
}
.highlight {
  background-color: lightgreen !important;
}

.Block {
  width: 16px;
  height: 16px;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}
.Block:nth-of-type(7) {
  border-left: 1px solid black;
}
.Block:nth-of-type(6) {
  border-right: 1px solid black;
}
.Block:nth-of-type(12) {
  border-left: 1px solid black;
}
.Block:nth-of-type(11) {
  border-right: 1px solid black;
}
.Row:nth-of-type(6) .Block {
  border-bottom: 1px solid black;
}
.Row:nth-of-type(7) .Block {
  border-top: 1px solid black;
}
.Row:nth-of-type(11) .Block {
  border-bottom: 1px solid black;
}
.Row:nth-of-type(12) .Block {
  border-top: 1px solid black;
}
.etched {
  background-color: gray;
  border-style: inset;
  border-color: darkslategrey;
}
.marked {
  color: #333;
}
.selected {
  border:  1px solid red;
  position: relative;
}
.selected::before {
  width: 18px;
  height: 18px;
  content: url('./chisel.png');
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}
.marking::before {
  animation-name: draw-x;
  animation-duration: .32s;
}
@keyframes draw-x {
  from {
    bottom: 8px;
    left: 8px;
  }
  15% {
    bottom: 12px;
    left: 12px;
  }
  50% {
    bottom: 4px;
    left: 4px;
  }
  65% {
    bottom: 12px;
  }
  to {
    bottom: 4px;
    left: 12px;
  }
}
.cleaning::before {
  content: url('./hand.png');
  bottom: 2px;
  left: 2px;
  animation-duration: .16s;
  animation-name: hand-wipe;
}
@keyframes hand-wipe {
  from {
    bottom: 2px;
    left: 2px;
    transform: rotate(0);
  }
  50% {
    left: 24px;
    transform: rotate(45deg);
  }
  to {
    left: -24px;
    transform: rotate(-5deg);
  }
}
.etching::after {
  width: 18px;
  height: 18px;
  content: url('./hammer.png');
  position: absolute;
  bottom: 32px;
  left: 48px;
  z-index: 20;
  animation-duration: .12s;
  animation-name: hammer-hit;
}
@keyframes hammer-hit {
  from {
    bottom: 32px;
    left: 48px;
    transform: rotate(0);
  }
  to {
    bottom: 14px;
    left: 18px;
    transform: rotate(-45deg);
  }
}
