table {
  border-spacing: 0;
  border-collapse: separate;
}

.ColClues {
  vertical-align: bottom;
  text-align: center;
}
.ColClues:nth-child(2n) {
  background-color: lightgray;
}
.RowClues {
  text-align: right;
  white-space: nowrap;
}
.Row:nth-child(2n) .RowClues{
  background-color: lightgray;
}
.highlight {
  background-color: lightgreen !important;
}

.Block {
  width: 16px;
  height: 16px;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}
.Block:nth-of-type(7) {
  border-left: 1px solid black;
}
.Block:nth-of-type(6) {
  border-right: 1px solid black;
}
.Block:nth-of-type(12) {
  border-left: 1px solid black;
}
.Block:nth-of-type(11) {
  border-right: 1px solid black;
}
.Row:nth-of-type(6) .Block {
  border-bottom: 1px solid black;
}
.Row:nth-of-type(7) .Block {
  border-top: 1px solid black;
}
.Row:nth-of-type(11) .Block {
  border-bottom: 1px solid black;
}
.Row:nth-of-type(12) .Block {
  border-top: 1px solid black;
}
.etched {
  background-color: gray;
  border-style: inset;
  border-color: darkslategrey;
}
.marked {
}
.selected {
  outline: 2px solid red;
}
